.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color:#141414;
  color: white;
  position: relative;
  height: 70px;
}

.navbar .logo img{
  height: 40px;
  width: fit-content;
}

.navLinks {
  transition: 0.5s;
  padding: 0 1rem;
  height: 50px;
  list-style: none;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 10px;
}

.navLinks li a {
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 1.1rem;
}

.navLinks li a:hover {
  color: #f1c40f;
}

.navLinks li a.active {
  background-color: #333;
  border-radius: 5px;
}

.authLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.authLinks li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.authLinks li a:hover {
  color: #f1c40f;
}

.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 0.4rem;
}

.burger span {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

/* القائمة الجانبية */
.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 250px;
  background-color: #333;
  color: white;
  transition: right 0.3s ease;
  z-index: 999;
}

.sidebar.open {
  right: 0;
}

.sidebar ul {
  list-style: none;
  padding: 1rem;
}

.sidebar ul li {
  margin: 1.5rem 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.sidebar ul li a:hover {
  color: #f1c40f;
}


/* Responsive Design */
@media (max-width: 768px) {
  /* .navLinks, .authLinks {
    display: none;
  } */

  .burger {
    display: flex;
  }
  .navLinks {
    position: absolute;
    top: 70px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0;
    justify-content: start;
    padding: 50px 0;
    height: calc(100vh - 70px);
    z-index: 9999;
  }
}